html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
}

html {
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

body {
  background-color: transparent;
}

app-root {
  display: block;
  height: 100%;
  width: 100%;
}

.app-container {
  height: calc(100vh - 10vh); // app.component.html (margin-top: 10vh)
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}