:root {
  --color-primary: #0077ff;
  --color-primary-hover: #4e7aa0;
  --color-yellow: #ffd777;
  --color-yellow-hover: #fff1cf;
  --color-green: #72ff47;
  --color-green-hover: #acff93;

  --color-alert-info: rgba(13, 110, 253, 0.1);
  --color-alert-info-border: rgba(13, 110, 253, 0.2);
  --color-table-row: rgba(65, 65, 65, 0.1);
  --color-alert-info-text: #6ea8fe;
  --color-error: #d9001b;
  
  --color-dark: #1a1a1a;
  --color-dark-panel: rgba(0, 0, 0, 0.0);
  --color-sidebar-bg: rgba(0, 0, 0, 0.1);
  --color-dropdown-bg: #2b3035;
  --color-text-light: #ffffff;
  --color-text-dark: #212529;
  --color-text-muted: #dee2e6;
  
  --radius-main: 12px;
  --radius-btn: 5px;
  --radius-login: 10px;
  --glass-bg: rgba(0, 0, 0, 0.4);
  --glass-bg-hover: rgba(255, 255, 255, 0.15);
  --glass-border: rgba(255, 255, 255, 0.3);
  --blue-box-bg: rgba(0, 55, 128, 0.1);
  --dark-box-border: rgba(255, 255, 255, 0.1);
  --color-primary-glass: rgba(0, 57, 131, 0.9);
}