<div class="dashboard-layout" style="margin-top: 5vh;">
  
  <aside class="sidebar">
    
    <app-tile labelKey="GUI.WORK_CASES_ELEMENT" iconName="workCaseIcon.svg" routePath="/dashboard/workcases"></app-tile>
    <app-tile labelKey="GUI.CONTRACTORS_ELEMENT" iconName="contractorIcon.svg" routePath="/dashboard/contractors"></app-tile>
    <app-tile labelKey="GUI.INVOICES_ELEMENT" iconName="invoiceIcon.svg" routePath="/dashboard/invoices"></app-tile>
    <app-tile labelKey="GUI.COSTS_ELEMENT" iconName="file-post.svg" routePath="/dashboard/costs"></app-tile>
    <app-tile labelKey="GUI.CLIENTS" iconName="clientIcon.svg" routePath="/dashboard/clients"></app-tile>
    
    
    <div class="flex-grow-1"></div>

    @if (accountService.isAdmin()) {
        <app-tile labelKey="GUI.MANAGE_USERS" iconName="peopleIcon.svg" routePath="/dashboard/manage-users"></app-tile>
    }
    <app-tile labelKey="GUI.MY_ACCOUNT" iconName="userIcon.svg" routePath="/dashboard/account"></app-tile>
  </aside>

  <main class="content-panel">
    <router-outlet></router-outlet>
  </main>
  
</div>