<div class="popup-container">
  <div class="login-tile">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <app-input 
          controlName="email" 
          label="LOGIN.EMAIL_LABEL" | translate
          [required]="true" 
          type="text" />
          
        <app-input 
          controlName="password" 
          label="LOGIN.PASSWORD_LABEL" | translate
          [required]="true" 
          type="password" />
      </div>
      
      <div class="row d-flex mt-4">
        <div class="col text-end">
          <button class="btn btn-blue" type="submit">{{ 'LOGIN.SUBMIT_BUTTON' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>