.selector-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2000;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  @media (max-width: 768px) {
    top: 0.5rem;
    right: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 4px;
    border-radius: 8px;
    backdrop-filter: blur(4px);
  }
}