<div class="split-wrapper">

  <div class="panel-side side-left panel-card">
    <app-work-case-items [workCaseId]="id()"></app-work-case-items>
  </div>

  <div class="panel-side side-right panel-card">
    @if (isLoading()) {
    <div>
      <span class="spinner-border text-light" role="status"></span>
    </div>
    }

    @if (workCase(); as case) {
    <div class="scrollable-content">

      <div class="panel-header justify-content-between">
        <span class="custom-badge" [class.active-status]="!case.isAbandoned" [class.badge-inactive]="case.isAbandoned">
          {{ (case.isAbandoned ? 'GUI.WORK_CASES.STATUS_ABANDONED' : 'GUI.WORK_CASES.STATUS_ACTIVE') | translate }}
        </span>
        <h5 class="text-white">{{ case.name }}</h5>
        <button [routerLink]="['/dashboard/workcase', case.id, 'edit']">
          {{ 'GUI.BUTTONS.EDIT' | translate }}
        </button>
      </div>

      <div style="padding: 0.5rem;">

        <div class="panel-trigger d-flex justify-content-between align-items-center text-muted small cp-pointer mb-3"
          (click)="togglePanel()">
          <span>{{ 'GUI.DETAILS_HEADER' | translate }}</span>
          <span class="chevron-icon" [class.rotated]="isExpanded()">▼</span>
        </div>

        <div class="collapsible-wrapper" [class.is-expanded]="isExpanded()">
          <div class="collapsible-content">

            <div>
              <div class="pb-2">
                <div class="tile-container">
                  <span class="d-block text-muted small">{{ 'GUI.WORK_CASES.CLIENT' | translate }}</span>
                  <strong class="text-white fs-5">{{ case.clientName }}</strong>
                </div>
              </div>
              <div class="pb-2">
                <div class="tile-container">
                  <span class="d-block text-muted small">{{ 'GUI.WORK_CASES.FORWARDER' | translate }}</span>
                  <strong class="text-white fs-5">{{ case.forwarderName }}</strong>
                </div>
              </div>
              <div class="pb-2">
                <div class="tile-container">
                  <span class="d-block text-muted small">{{ 'GUI.WORK_CASES.AMOUNT' | translate }}</span>
                  <strong class="text-white fs-5">{{ case.amount | number:'1.2-2' }} {{ case.currency }}</strong>
                  @if (case.currency !== "PLN") {
                    <span class="d-block text-muted small mt-2">{{ 'GUI.WORK_CASES.AMOUNT_PLN' | translate }}</span>
                    <strong class="text-white fs-5">{{ case.amountInPln | number:'1.2-2' }} PLN</strong>
                  }
                </div>
              </div>
            </div>

            <div class="field-full">
              <span class="text-muted small">
                {{ 'GUI.WORK_CASES.CREATED_AT' | translate }}: {{ case.createdAtUtc + 'Z' | date:'dd.MM.yyyy HH:mm' }}
              </span>
            </div>
            <div class="field-full mb-3">
              <span class="text-muted small">
                (UTC) {{ case.createdAtUtc | date:'dd.MM.yyyy HH:mm' }}
              </span>
            </div>
            <button class="btn-green" [routerLink]="['/dashboard/createInvoice', case.id]">
                {{ 'GUI.INVOICE.ADD_NEW' | translate }}
            </button>
            @if (case.invoiceResponseList!.length > 0) {
            <div class="field-full">
              <div class="tile-container">
                  <span class="d-block text-muted small">{{ 'GUI.INVOICES' | translate }}</span>
                  @for (invoice of case.invoiceResponseList; track $index) {
                    <strong [routerLink]="['/dashboard/editInvoice', invoice.id]" class="text-white fs-5">{{ invoice.invoiceNumber }} - {{invoice.amount}}{{invoice.currency}}</strong>
                  }
                </div>
            </div>
            }

          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>