$transition-speed: 0.15s;

:host {
  display: block;
  width: 100%;
}

.form-group {
  position: relative;
  padding-bottom: 1.2rem; 

  &.required label::after {
    content: " *";
    color: var(--color-error);
  }
}

label {
  color: var(--color-text-muted);
  font-size: 0.85rem;
  margin-bottom: 0.25rem;
  display: block;
}

.input {
  padding-top: 8px;
  padding-bottom: 8px;

  &.invalid {
    padding-bottom: 6px;
    border-bottom: 3px solid var(--color-error);

    &:focus {
      border-bottom: 3px solid var(--color-error);
    }
  }

  &:focus {
    padding-bottom: 6px;
    border-bottom: 3px solid var(--color-primary);
  }
}

.invalid-feedback {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  visibility: hidden;
  opacity: 0;
  font-size: 0.8rem;
  color: var(--color-error);
  transition: opacity $transition-speed linear, visibility $transition-speed linear;

  &.show-invalid {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeIn {
  99% { visibility: hidden; }
  100% { visibility: visible; }
}