<ng-container>
  <div class="row justify-content-center">
    <div class="col-auto">
      <button (click)="get500Error()" class="button">Test 500 Error</button>
    </div>
    <div class="col-auto">
      <button (click)="get400Error()" class="button">Test 400 Error</button>
    </div>
    <div class="col-auto">
      <button (click)="get403Error()" class="button">Test 401 Error</button>
    </div>
    <div class="col-auto">
      <button (click)="get404Error()" class="button">Test 404 Error</button>
    </div>
  </div>


  @if (validationErrors.length > 0) {
    <div class="row mt-5">
      <ul class="text-danger">
        @for (error of validationErrors; track error) {
          <li>
            {{error}}
          </li>
        }
      </ul>
    </div>
  }
</ng-container>