$color-sidebar-bg: #154792;
$color-sidebar-text: #000000;

.dashboard {
  display: flex;
}

.side-menu {
  width: 200px;
  background-color: $color-sidebar-bg;
  color: $color-sidebar-text;
  height: 100vh;

  a {
    display: block;
    color: $color-sidebar-text;
    text-decoration: none;
    margin-bottom: 10px;

    &.active {
      font-weight: bold;
    }
  }
}